* {
  padding: 0;
  margin: 0;
}
:root {
  font-family: "Noto Sans JP", sans-serif;

  --color-primary: #ff943c;
  --color-secondary: #ffa861;
}

body {
  font-size: 62.5%;
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-secondary)
  );
}

.section-main {
  width: 100vh;
  height: 100vh;
}
.section-main-view {
  display: flex;
  justify-content: space-around;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 1000px;
  padding: 5rem;
  box-shadow: inset 1px 1px 4rem rgba(0, 0, 0, 0.3);
}

.section-main-button,
.section-main-card {
  box-shadow: 1px 0px 3rem rgba(0, 0, 0, 0.3);
}
.section-main-card {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.section-main-card-top {
  flex: 2;
}
.section-main-card-bottom {
  flex: 1;
}

.section-main-name {
  font-size: 2rem;
}
.section-main-button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  width: 80%;
  color: white;

  background-color: rgb(156, 136, 22);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 100;
}
